option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /_stcore/health
    Port: 8501
    Protocol: HTTP
  aws:autoscaling:launchtemplate:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    LaunchTemplateName: elastic-beanstalk-sakura-lt
    Version: 1
    SecurityGroups: sg-05504d1a4b7edb426
    KeyName: elastic-beanstalk-sakura-key
    Monitoring:
      Enabled: true

container_commands:
  01_setup_compose:
    command: |
      echo 'Setting up Docker Compose...'
      curl -L https://github.com/docker/compose/releases/download/v2.20.0/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
      chmod +x /usr/local/bin/docker-compose
